#root {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 20px;
}

.g-table__cell.g-table__cell_sticky_end.g-table__cell_edge-padding.g-table__cell_word-wrap {
  background-color: inherit;
}
